<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>SE_FINALS</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SqlCon</display-name>
    <servlet-name>SqlCon</servlet-name>
    <servlet-class>SqlCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SqlCon</servlet-name>
    <url-pattern>/SqlCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Newpass</display-name>
    <servlet-name>Newpass</servlet-name>
    <servlet-class>Newpass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Newpass</servlet-name>
    <url-pattern>/Newpass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Newpassword</display-name>
    <servlet-name>Newpassword</servlet-name>
    <servlet-class>Newpassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Newpassword</servlet-name>
    <url-pattern>/Newpassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Newp</display-name>
    <servlet-name>Newp</servlet-name>
    <servlet-class>Newp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Newp</servlet-name>
    <url-pattern>/Newp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Newps</display-name>
    <servlet-name>Newps</servlet-name>
    <servlet-class>Newp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Newps</servlet-name>
    <url-pattern>/Newps</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Newp2</display-name>
    <servlet-name>Newp2</servlet-name>
    <servlet-class>newp.Newp2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Newp2</servlet-name>
    <url-pattern>/Newp2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateOtp</display-name>
    <servlet-name>ValidateOtp</servlet-name>
    <servlet-class>newp.ValidateOtp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateOtp</servlet-name>
    <url-pattern>/ValidateOtp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>feedback</display-name>
    <servlet-name>feedback</servlet-name>
    <servlet-class>newp.feedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>feedback</servlet-name>
    <url-pattern>/feedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>feedbackdisplay</display-name>
    <servlet-name>feedbackdisplay</servlet-name>
    <servlet-class>newp.feedbackdisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>feedbackdisplay</servlet-name>
    <url-pattern>/feedbackdisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>maangeFeedbackReviews</display-name>
    <servlet-name>maangeFeedbackReviews</servlet-name>
    <servlet-class>newp.maangeFeedbackReviews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>maangeFeedbackReviews</servlet-name>
    <url-pattern>/maangeFeedbackReviews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>manageFeedbackReviews</display-name>
    <servlet-name>manageFeedbackReviews</servlet-name>
    <servlet-class>newp.manageFeedbackReviews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageFeedbackReviews</servlet-name>
    <url-pattern>/manageFeedbackReviews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>feedbackReply</display-name>
    <servlet-name>feedbackReply</servlet-name>
    <servlet-class>newp.feedbackReply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>feedbackReply</servlet-name>
    <url-pattern>/feedbackReply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>filterrating</display-name>
    <servlet-name>filterrating</servlet-name>
    <servlet-class>newp.filterrating</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>filterrating</servlet-name>
    <url-pattern>/filterrating</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addNewProduct</display-name>
    <servlet-name>addNewProduct</servlet-name>
    <servlet-class>newp.addNewProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addNewProduct</servlet-name>
    <url-pattern>/addNewProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>newp.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
</web-app>
