<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>SE_FINALS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SqlCon</display-name>
    <servlet-name>SqlCon</servlet-name>
    <servlet-class>SqlCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SqlCon</servlet-name>
    <url-pattern>/SqlCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Newpass</display-name>
    <servlet-name>Newpass</servlet-name>
    <servlet-class>Newpass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Newpass</servlet-name>
    <url-pattern>/Newpass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Newpassword</display-name>
    <servlet-name>Newpassword</servlet-name>
    <servlet-class>Newpassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Newpassword</servlet-name>
    <url-pattern>/Newpassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Newp</display-name>
    <servlet-name>Newp</servlet-name>
    <servlet-class>Newp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Newp</servlet-name>
    <url-pattern>/Newp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Newps</display-name>
    <servlet-name>Newps</servlet-name>
    <servlet-class>Newp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Newps</servlet-name>
    <url-pattern>/Newps</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Newp2</display-name>
    <servlet-name>Newp2</servlet-name>
    <servlet-class>newp.Newp2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Newp2</servlet-name>
    <url-pattern>/Newp2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateOtp</display-name>
    <servlet-name>ValidateOtp</servlet-name>
    <servlet-class>newp.ValidateOtp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateOtp</servlet-name>
    <url-pattern>/ValidateOtp</url-pattern>
  </servlet-mapping>
</web-app>